.footer{

    align-items: center;
    
    bottom:  0;
    width: 100%;
    height: 20px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 99;
    


}